
<h2>ChitChat Example</h2>
<ul>
  <li>
    <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">
      <div class="flex-shrink-0">
        1
      </div>
      <div class="ml-6 pt-1">
        <h4 class="text-xl text-gray-900 leading-tight">
          File 1
        </h4>
      </div>
    </div>
  </li>
  <li>
    <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">
      <div class="flex-shrink-0">
        2
      </div>
      <div class="ml-6 pt-1">
        <h4 class="text-xl text-gray-900 leading-tight">
          File 2
        </h4>
      </div>
    </div>
  </li>
</ul>
<div class="font-sans flex items-center justify-center bg-blue-darker w-full py-8">
  <div class="overflow-hidden bg-white rounded max-w-xs w-full shadow-lg  leading-normal">
    <a href="#" class="block group hover:bg-blue p-4 border-b">
      <p class="font-bold text-lg mb-1 text-black group-hover:text-white">Create from scratch</p>
      <p class="text-grey-darker mb-2 group-hover:text-white">Create a repository without any source code</p>
    </a>
    <a href="#" class="block group hover:bg-blue p-4">
      <p class="font-bold text-lg mb-1 text-black group-hover:text-white">Fork</p>
      <p class="text-grey-darker mb-2 group-hover:text-white">Start a project base on the source of an existing one.</p>
    </a>
  </div>
</div>
