<div
  class="relative flex min-h-screen items-center justify-center bg-gray-100 px-4 py-12"
>
  <!-- X Button -->
  <button
    (click)="back()"
    class="focus:ring-primary-500 absolute right-4 top-4 rounded-md text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2"
  >
    <svg
      class="h-6 w-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6 18L18 6M6 6l12 12"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      ></path>
    </svg>
  </button>

  <div class="w-full max-w-md space-y-8">
    <div class="mb-8">
      <h2 class="text-center text-3xl font-bold text-gray-900">
        Account Settings
      </h2>
      <p class="text-primary-500 mt-2 text-center text-lg font-semibold">
        Change Your Account Settings
      </p>
    </div>

    <form class="space-y-4">
      <ul class="overflow-hidden rounded-md bg-white shadow-sm">
        <li class="border-b border-gray-200 p-4 py-6">
          <div class="flex-1">
            <mg-input [value]="account().name" label="Change Your Name" name="name" id="name" [required]="true" type="text"
              placeholder="Enter your name"/>
          </div>
        </li>

        <li class="border-b border-gray-200 p-4 py-6">
          <div class="flex-1">
            <label
              class="mb-1 block text-sm font-medium text-gray-700"
              for="language"
              >Choose Language</label
            >
            <mg-ui-dropdown [items]="languageOptions()" [value]="account().language"/>
          </div>
        </li>

        <li class="p-4">
          <div class="flex items-center justify-between py-4">
            <span class="text-sm font-medium text-gray-700">Change Theme</span>
            <mg-toggle id="theme-toggle" [(value)]="isDarkTheme" [textConfig]="toggleConfig()" (valueChange)="themeChange($event)"></mg-toggle>
          </div>
        </li>
      </ul>

      <mg-button text="Cancel" type="button" variant="secondary" (click)="back()"/>
      <mg-button text="Save Changes" type="submit"/>
    </form>

    <p class="mt-4 text-center text-xs text-gray-500">
      Click 'Save Changes' to update your settings.
    </p>
  </div>
</div>
